.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: blue;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid gray;
    border-radius: 5px;
  }
  
  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
  }
  
  p#mensagem {
    margin-top: 1rem;
    font-size: 1.2rem;
  }